asgiref==3.8.1
astroid==3.3.10
black==25.1.0
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
dill==0.4.0
Django==5.2.1
django-taggit==6.1.0
EditorConfig==0.17.0
isort==6.0.1
jsbeautifier==1.15.4
json5==0.12.0
Markdown==3.8
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.8
psycopg==3.2.9
psycopg-binary==3.2.9
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
python-decouple==3.8
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.2
tqdm==4.67.1
typing_extensions==4.14.0
